.labelItem {
  flex-basis: 5%;
  flex-grow: 1;
}

.appItem {
  text-decoration: underline; 
  flex-basis: 5%;
  flex-grow: 1;
}

.appItem:hover{
  color: #ccc
}
.list {
  display: flex;
  padding: 0 5%;
}