* {
  box-sizing: border-box;
}

/* Big fan of Courier, probably out of place here, though. */
body {
  font-family: 'Courier';
  margin: 0;
  background-color: #93a7df;
}

h1 {
  font-size: 2.5rem;
  color: #060606;
}

h2 {
  font-size: 1.5rem;
  color: #060606;
}